<template>
  <v-app class="white">
    <v-toolbar fixed app color="primary" dark>
      <v-toolbar-title v-text="title" />
      <v-spacer />
      <v-btn flat value="exit" @click="signOut">
        <v-icon>mdi-logout</v-icon>
      </v-btn>
      <v-avatar size="32px">
        <img src="https://via.placeholder.com/32x32" />
      </v-avatar>
    </v-toolbar>
    <v-content>
      <nuxt />
      <v-bottom-nav
        app
        fixed
        :active.sync="bottomNav"
        :value="true"
        color="primary"
        dark
      >
        <v-btn nuxt to="/dashboard" color="accent" flat value="dash">
          <span>Dashboard</span>
          <v-icon>mdi-monitor-dashboard</v-icon>
        </v-btn>
        <v-btn nuxt to="/payment" color="accent" flat value="order">
          <span>Orders</span>
          <v-icon>mdi-cart</v-icon>
        </v-btn>
      </v-bottom-nav>
    </v-content>
  </v-app>
</template>

<script>
import { UserSession } from 'blockstack'
import { mapActions } from 'vuex'

const userSession = new UserSession()

export default {
  data() {
    return {
      userSession: userSession,
      title: 'IndieCart',
      bottomNav: ''
    }
  },
  methods: {
    ...mapActions(['setAuth']),
    signOut() {
      this.setAuth(false)
      this.userSession.signUserOut(window.location.href)
    }
  }
}
</script>
