<template>
  <v-app color="white">
    <v-toolbar fixed app color="primary" dark>
      <v-toolbar-title v-text="title" />
      <v-spacer />
    </v-toolbar>
    <v-content>
      <nuxt />
    </v-content>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data() {
    return {
      title: 'dPay'
    }
  },
  computed: {
    ...mapGetters(['signedIn'])
  }
}
</script>
