<template>
  <v-container grid-list-sm>
    <v-layout row wrap>
      <v-flex xs12>
        <v-toolbar color="transparent" dense card flat>
          <div class="headline">Balance</div>
          <v-spacer></v-spacer>
          <div class="headline">{{ balance }} BTC</div>
        </v-toolbar>
      </v-flex>
      <v-flex xs12>
        <v-subheader>Transactions</v-subheader>
        <v-list two-line>
          <v-list-tile v-for="charge in charges" :key="charge.id" avatar>
            <v-list-tile-avatar>
              <v-icon :color="charge.status === 'paid' ? 'green' : 'grey'"
                >mdi-check-circle</v-icon
              >
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>{{ charge.description }}</v-list-tile-title>
              <v-list-tile-sub-title>
                {{ dateFormat(new Date(charge.created_at * 1000)) }}
              </v-list-tile-sub-title>
            </v-list-tile-content>
            <v-list-tile-action>{{ charge.amount }} S</v-list-tile-action>
          </v-list-tile>
        </v-list>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
const dateFormat = require('date-fns/distance_in_words_to_now')
const opennode = require('opennode')
const API_KEY = ''

export default {
  layout: 'app',
  data() {
    return {
      opennode: opennode,
      dateFormat: dateFormat,
      balance: 0,
      charges: []
    }
  },
  mounted() {
    // eslint-disable-next-line no-console
    // console.log(this.opennode)
    try {
      this.opennode.setCredentials(
        API_KEY,
        'dev' // testnet remove for mainnet
      )
      this.opennode.getBalance().then(res => {
        this.balance = res.balance.BTC / 100000000
      })
      this.opennode.listCharges().then(res => {
        // eslint-disable-next-line no-console
        console.log(res)
        this.charges = res
      })
    } catch (error) {
      // eslint-disable-next-line no-console
      console.log(error)
    }
  }
}
</script>

<style lang="scss" scoped></style>
