<template>
  <v-container fluid fill-height>
    <v-layout column align-center justify-center fill-height>
      <div>
        <v-btn color="primary" round @click="signIn">Login</v-btn>
      </div>
    </v-layout>
  </v-container>
</template>

<script>
import { UserSession } from 'blockstack'
const userSession = new UserSession()

export default {
  data() {
    return {
      userSession: userSession
    }
  },
  async fetch({ app, store, redirect }) {
    if (!store.state.signedIn) {
      if (userSession.isUserSignedIn()) {
        return redirect('/dashboard')
      } else if (userSession.isSignInPending()) {
        await userSession.handlePendingSignIn()
        window.location = window.location.href.split('&')[0]
      }
    }
  },
  layout: 'default',
  methods: {
    signIn() {
      this.userSession.redirectToSignIn(
        `${window.location.origin}/dashboard`,
        `${window.location.origin}/manifest.json`,
        ['store_write']
      )
    }
  }
}
</script>
