/* eslint-disable no-console */
<template>
  <div>
    <v-container grid-list-xs>
      <v-layout row wrap>
        <v-flex xs12>
          <v-card flat>
            <v-form>
              <v-checkbox
                ref="pizza"
                v-model="cart"
                label="Pizza - 10000 Satoshi"
                value="10000"
              ></v-checkbox>
              <v-checkbox
                v-model="cart"
                label="Beer - 4000 Satoshi"
                value="4000"
              ></v-checkbox>
              <v-checkbox
                v-model="cart"
                label="Coffee - 1000 Satoshi"
                value="1000"
              ></v-checkbox>
              <v-checkbox
                v-model="cart"
                label="Soda - 2000 Satoshi"
                value="2000"
              ></v-checkbox>
              <v-checkbox
                v-model="cart"
                label="Nachos - 8000 Satoshi"
                value="8000"
              ></v-checkbox>
              <v-divider></v-divider>
              <p>{{ cart.length }} items in your cart</p>
              <p class="text-xs-right">Total: {{ cartTotal }}</p>
            </v-form>
            <v-card-actions>
              <v-btn color="info" @click="clear">Clear</v-btn>
              <v-spacer></v-spacer>
              <v-btn color="success" @click="charge">Charge</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
      <v-layout row justify-center>
        <v-layout row justify-center>
          <qriously
            v-show="dialog"
            :value="paymentAddress"
            :size="200"
            centered
          />
        </v-layout>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
const opennode = require('opennode')
const API_KEY = ''

export default {
  layout: 'app',
  data() {
    return {
      opennode: opennode,
      name: '',
      amt: '',
      email: '',
      dialog: false,
      src2: '/icon.png',
      paymentAddress: '',
      cart: [],
      total: 0,
      description: ''
    }
  },
  computed: {
    cartTotal() {
      if (this.cart.length) {
        return this.cart.reduce((total, amt) => Number(total) + Number(amt))
      } else {
        return 0
      }
    }
  },
  methods: {
    charge() {
      try {
        this.opennode.setCredentials(
          API_KEY,
          'dev' // testnet, remove for mainnet
        )
        const charge = {
          amount: this.cartTotal,
          order_id: Math.random(),
          description: 'Charge description goes here.'
        }
        // eslint-disable-next-line no-console
        console.log(charge)
        this.opennode.createCharge(charge).then(res => {
          this.paymentAddress = res.lightning_invoice.payreq
          this.$nextTick(() => {
            this.dialog = true
          })
          // eslint-disable-next-line no-console
          console.log(res)
        })
      } catch (error) {
        // eslint-disable-next-line no-console
        console.log(error)
      }
    },
    clear() {
      this.cart = []
      this.dialog = false
    }
  }
}
</script>

<style scoped></style>
